@font-face {
  font-family: 'pixel';
  src: url('pixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background: #111;
  font-family: 'pixel', monospace;
  color: white;
}

canvas { 
  display: block; 
}

.box-boder {
  border-color: #0f0;
  border-style: solid;
  border-width: 2px;
}

.box-boder.selected {
  background: #52a1d9!important;
}

.common-button {
  height: 50px;
  line-height: 50px;
  background: #444;
  text-align: center;
}

.character-card {
  align-text:center;
  padding:1rem;
  margin-bottom:.2rem;
  flex-basis: calc(50% - 0.5rem);
  flex-grow:1;
  box-sizing: border-box;
}

textarea {
  font-family: 'pixel', monospace;
  font-size: 18px;
}

.ranking_row {
  background: #444;
  padding:10px;
}

.container {
  width: 100%;
  padding-right: 15px; /* Adjust padding as needed */
  padding-left: 15px;  /* Adjust padding as needed */
  margin-right: auto;
  margin-left: auto;
  font-size: 22px;
}

.title {
  color: #0f0;
}

.subtitle {
  font-size: 30px;
}

.subtitle:before {
    content:"\A";
    width:10px;
    height:10px;
    margin-right:10px;
    border-radius:50%;
    background: #0f0;
    display:inline-block;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}