body {
  margin: 0;
  background: #111;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: white;
}

canvas { 
  display: block; 
}

.box-boder {
  border-color: #0f0;
  border-style: solid;
  border-width: 2px;
}

.box-boder.selected {
  background: #52a1d9!important;
}

.common-button {
  height: 50px;
  line-height: 50px;
  background: #444;
  text-align: center;
}

.character-card {
  align-text:center;
  padding:1rem;
  margin-bottom:.2rem;
  flex-basis: calc(50% - 0.5rem);
  flex-grow:1;
  box-sizing: border-box;
}