@font-face {
  font-family: 'pixel';
  src: url('pixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background: #111;
  overflow: hidden;
  font-family: 'pixel', monospace;
  color: white;
}

canvas { 
  display: block; 
}

.box-boder {
  border-color: #0f0;
  border-style: solid;
  border-width: 2px;
}

.box-boder.selected {
  background: #52a1d9!important;
}

.common-button {
  height: 50px;
  line-height: 50px;
  background: #444;
  text-align: center;
}

.character-card {
  align-text:center;
  padding:1rem;
  margin-bottom:.2rem;
  flex-basis: calc(50% - 0.5rem);
  flex-grow:1;
  box-sizing: border-box;
}

textarea {
  font-family: 'pixel', monospace;
  font-size: 18px;
}

.ranking_row {
  background: #444;
  padding:10px;
}